<%= form_for(@storyline, :html => { :class => "centralize" }) do |f| %>
  <% if @storyline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storyline.errors.count, "error") %> prohibited this storyline from being saved:</h2>

      <ul>
      <% @storyline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= f.label :line %><br /> -->
    <%= f.text_area :line, :size => 60, :placeholder => "Once upon a time..." %>
  </div>
  <div class="actions">
    <%= f.submit "I'm done!" %>
  </div>
<% end %>
