<section data-id="<%= storyline.id %>" onclick="">
  <div class="storyline_wrapper">
    <div class="storyid"><%= storyline.id %></div>
    <div class="storytools">
      <div class="voting">
        <% if @current_user %>
        <%= link_to image_tag("upvote_red.png", :border => 0), upvote_storyline_path(storyline), :remote => true %>    
        <% else %>
          <%= image_tag("upvote.png", :border => 0, :class => 'must_login') %>
        <% end %>
        <span class="callout">
          <span class="votes"><%= storyline.upvotes_zero %></span>
          <i class="triangle triborder"></i>
          <i class="triangle"></i>
        </span>
      </div>
    </div>
    
    <div class="storyline_pen"><%= image_tag("pen.png", :border => 0, 'data-tooltip' => 'Edit line') %></div>
    <div class="storyline<%= extraclass %>" data-id="<%= storyline.id %>"><%= storyline.line %></div>
    
    <div class="storyline_actions">
      <%= link_to 'Edit this line', edit_storyline_path(storyline, :start_id => @storyline.id, :prev => storyline.prev, :next => storyline.next), :remote => true %> · 
      <%= link_to 'Add line after', new_continue_storyline_path(storyline, :start_id => @storyline.id, :next => storyline.next), :remote => true %> · 
      <%= link_to 'Continue from here', new_continue_storyline_path(storyline, :start_id => @storyline.id), :remote => true %>
    </div>
    <div class="storyins" data-id="<%= storyline.id %>"></div>
    
    <% if not storyline.prev.blank? and storyline.num_siblings > 0 %>
    <%= link_to image_tag("left.png", :class => 'left', 'data-tooltip' => 'Previous Branch'), storyline_path(storyline.prev, :next => storyline, :branch => :prev), :remote => true %>
      <%= link_to image_tag("right.png", :class => 'right', 'data-tooltip' => 'Next Branch'), storyline_path(storyline.prev, :next => storyline, :branch => :next), :remote => true %>
    <% end %>

    
  </div>

</section>
<!-- <td><%= link_to 'Delete', storyline, confirm: 'Are you sure?', method: :delete %></td> -->
