<h1>Storeys</h1>

<div class="story">
<% @storylines.each do |storyline| %>
  <div class="storyline_root">
    <%= link_to storyline.line, storyline %>
  </div>
  <div class="storyline_divider">
    <%= image_tag "divider.png" %>
  </div>
    <!-- <td><%= link_to 'Edit', edit_storyline_path(storyline) %></td> -->
    <!-- <td><%= link_to 'Delete', storyline, confirm: 'Are you sure?', method: :delete %></td> -->
<% end %>

<footer>
  <%= link_to 'What\'s new', latest_storylines_path %> · 
  <%= link_to 'New story', new_storyline_path %> · 
  <%= link_to 'Continue', new_random_storylines_path %>
</footer>

</div>
