<p id="notice"><%= notice %></p>

<h2><%= link_to "Storeys", storylines_path %></h2>

<div class="story">
  <%= render :partial => 'storyline', :locals => { :storyline => @storyline, :extraclass => ' story_top' }%>
  <%= render 'continuations' %>
  <div id="continue_ellipses"><span data-tooltip="Continue story">...</span></div>
  <footer>
    <%= link_to 'Back', storylines_path %> · 
    <%= link_to 'Graph View', graph_storyline_path(@storyline) %> · 
    <%= link_to 'Surprise me!', storyline_path(@storyline) %>
  </footer>
</div>