<div class="depot_form popup">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag login_url, :remote => true do %>
    <fieldset>
      <!-- <legend>Log In</legend> -->
      <div>
        <!-- <%= label_tag :name, 'Name:' %> -->
        <%= text_field_tag :name, params[:name], :placeholder => 'Name' %>
      </div>
      <div>
        <!-- <%= label_tag :password, 'Password:' %> -->
        <%= password_field_tag :password, params[:password], :placeholder => 'Password'  %>
      </div>
      <div>
      <%= submit_tag "Login" %> </div>
    </fieldset>
  <% end %>
  <i class="triangle triborder"></i>
  <i class="triangle"></i>
</div>
