<h2><%= link_to "Storeys", storylines_path %> / <%= @user.name %></h2>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div style="text-align: center;">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, size: 40, :placeholder => 'Email'  %>
  </div>
  
  <div class="field">
    Graph theme<br />
    <%= select_tag :graph_theme, options_for_select([['None', 'spectral'], ['Category20', 'category20'], ['Spectral', 'spectral']], :selected => @graph_theme) %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

</div>